/*styles for my resume*/

/*default styles for body*/
body {
  font-family: Open-Sans, Arial, sans-serif;
  font-size: 1em;
  color: #444;
}

#container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

/*section headers*/
.sectionheader{
  font-family: Open-Sans, Arial, sans-serif;
  font-size: 1.5em;
  color: #444;
  text-transform: uppercase;
  background-color: #33485e;
  color: white;
  font-weight: 400;
  margin: 20px 0px 10px 0px;
  width: 100%;
  min-width: 300px;
  text-align: center;
}

/*job titles*/
.jobtitle{
  font-family: Open-Sans, Arial, sans-serif;
  font-size: 1.5em;
  color: #444;
  font-weight: 600;
}

/*job organizations*/
.organization{
  font-family: Open-Sans, Arial, sans-serif;
  font-size: 1.25em;
  color: #444;
  font-weight: 400;
}

/*job dates*/
.date{
  font-family: Open-Sans, Arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
  font-style: italic;
  margin-top: 2px;
}

/*general text*/
.description{
  font-family: Open-Sans, Arial, sans-serif;
  font-size: 1em;
  color: #444;
  margin: 10px 0px;
  padding-bottom: 10px;
}

/*updating contact display*/
.menu{
  margin: 0px;
  padding: 0px;
  text-align: center;
}

/*display menu items inline*/
.menu li{
  display: inline;
}

/*adding margins to education*/
#degrees{
  margin-top: 5px;
}

/*changing margins on skills*/
#do{
  margin-top: 5px;
  margin-bottom: 20px;
}

/*list items*/
li{
  font-family: Open-Sans, Arial, sans-serif;
  font-size: 1em;
  color: #444;
}

/*lists*/
ul{
  font-size: 1em;
}

.top{
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

#banner{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  size: 300px;
}

.icon{
  size: 30px;
  max-width: 10%;
  padding-right: 10px;
}

.ed-icon{
  max-width: 5%;
  size: 10px;
  padding: 5px;
  margin-left: auto;
}

.ed{
  list-style-type: none;
}

footer{
  padding: 20px 0px;
  border-top: 5px solid black;
}

.attribution{
  list-style-type: none;
}
